<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Contact page</title>
</head>
<body>
    {{>navbar}}
    <div class="contact_sec">
            <form action="/contact" method="POST">
                <div class="name_field">
                    <label for="name">Name : </label>
                    <input type="text" name="name" id="" placeholder="Full name">
                </div>
                <div class="email_field">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="" placeholder="Your email" >
                </div>
                <div class="phone_field">
                    <label for="phone">Phone : </label>
                    <input type="tel" name="phone" id="" placeholder="Your phone" >
                </div>
                <div class="message_field">
                    <label for="message">Message : </label>
                    <input type="text" name="message" id="" placeholder="Message for us">
                </div>
                <button type="submit" id="submit_btn">Submit</button>
            </form>
    </div>
    
</body>
</html>